/* 
    Document   : style
    Created on : Nov 15, 2016, 8:24:52 AM
    Author     : s122349
*/

  li{
                 color:black;}
            
            p{
                color:blue;}
            body{
                color:lightgreen;
            }

